<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTREGA MVT JOSÉ AMADOR</title>
</head>
<body>
    <h2>Info familiar</h2>

  {% if familiars_list %}
  <ul>
      {% for familiar in familiars_list %}
      <li> <b> {{familiar.nombre}} </b> | <i>documento:</i>{{familiar.documento}} | <i>nacimiento:</i> {{familiar.nacimiento}} </li>
      {% endfor %}
  </ul>
  {% else %}
  <p>No hay info de familiares. </p>
  {% endif %}
</body>
</html>